In [76]:
import pandas as pd
import os

In [91]:
fpath = "GBPUSD_2018.csv"
df = pd.read_csv(fpath)

In [92]:
df.columns = ["date_str", "time_str", "val", "B", "C", "D", "E"]
df = df.drop(columns=['B', 'C', 'D', 'E'])
df['datetime'] = pd.Timestamp(2000, 1, 1)
df['time'] = pd.Timestamp(2000, 1, 1)
df['date'] = pd.Timestamp(2000, 1, 1)

In [98]:
df

          date_str time_str      val   datetime       time       date
0       2018.01.01    17:02  1.35019 2000-01-01 2000-01-01 2000-01-01
1       2018.01.01    17:03  1.35020 2000-01-01 2000-01-01 2000-01-01
2       2018.01.01    17:05  1.35012 2000-01-01 2000-01-01 2000-01-01
3       2018.01.01    17:06  1.35013 2000-01-01 2000-01-01 2000-01-01
4       2018.01.01    17:07  1.35084 2000-01-01 2000-01-01 2000-01-01
5       2018.01.01    17:08  1.35092 2000-01-01 2000-01-01 2000-01-01
6       2018.01.01    17:09  1.35084 2000-01-01 2000-01-01 2000-01-01
7       2018.01.01    17:10  1.35085 2000-01-01 2000-01-01 2000-01-01
8       2018.01.01    17:11  1.35084 2000-01-01 2000-01-01 2000-01-01
9       2018.01.01    17:12  1.35071 2000-01-01 2000-01-01 2000-01-01
10      2018.01.01    17:14  1.35062 2000-01-01 2000-01-01 2000-01-01
11      2018.01.01    17:15  1.35115 2000-01-01 2000-01-01 2000-01-01
12      2018.01.01    17:16  1.35085 2000-01-01 2000-01-01 2000-01-01
13      2018.01.01    17:18  1.35109 2000-01-01 2000-01-01 2000-01-01
14      2018.01.01    17:19  1.35087 2000-01-01 2000-01-01 2000-01-01
15      2018.01.01    17:21  1.35109 2000-01-01 2000-01-01 2000-01-01
16      2018.01.01    17:22  1.35084 2000-01-01 2000-01-01 2000-01-01
17      2018.01.01    17:23  1.35087 2000-01-01 2000-01-01 2000-01-01
18      2018.01.01    17:24  1.35085 2000-01-01 2000-01-01 2000-01-01
19      2018.01.01    17:25  1.35078 2000-01-01 2000-01-01 2000-01-01
20      2018.01.01    17:26  1.35085 2000-01-01 2000-01-01 2000-01-01
21      2018.01.01    17:27  1.35086 2000-01-01 2000-01-01 2000-01-01
22      2018.01.01    17:30  1.35095 2000-01-01 2000-01-01 2000-01-01
23      2018.01.01    17:31  1.35097 2000-01-01 2000-01-01 2000-01-01
24      2018.01.01    17:32  1.35064 2000-01-01 2000-01-01 2000-01-01
25      2018.01.01    17:33  1.35084 2000-01-01 2000-01-01 2000-01-01
26      2018.01.01    17:36  1.35101 2000-01-01 2000-01-01 2000-01-01
27      2018.01.01    17:38  1.35064 2000-01-01 2000-01-01 2000-01-01
28      2018.01.01    17:39  1.35064 2000-01-01 2000-01-01 2000-01-01
29      2018.01.01    17:40  1.35094 2000-01-01 2000-01-01 2000-01-01
...            ...      ...      ...        ...        ...        ...
372230  2018.12.31    16:29  1.27511 2000-01-01 2000-01-01 2000-01-01
372231  2018.12.31    16:30  1.27513 2000-01-01 2000-01-01 2000-01-01
372232  2018.12.31    16:31  1.27520 2000-01-01 2000-01-01 2000-01-01
372233  2018.12.31    16:32  1.27499 2000-01-01 2000-01-01 2000-01-01
372234  2018.12.31    16:33  1.27501 2000-01-01 2000-01-01 2000-01-01
372235  2018.12.31    16:34  1.27503 2000-01-01 2000-01-01 2000-01-01
372236  2018.12.31    16:35  1.27527 2000-01-01 2000-01-01 2000-01-01
372237  2018.12.31    16:36  1.27554 2000-01-01 2000-01-01 2000-01-01
372238  2018.12.31    16:37  1.27550 2000-01-01 2000-01-01 2000-01-01
372239  2018.12.31    16:38  1.27583 2000-01-01 2000-01-01 2000-01-01
372240  2018.12.31    16:39  1.27578 2000-01-01 2000-01-01 2000-01-01
372241  2018.12.31    16:40  1.27571 2000-01-01 2000-01-01 2000-01-01
372242  2018.12.31    16:41  1.27573 2000-01-01 2000-01-01 2000-01-01
372243  2018.12.31    16:42  1.27583 2000-01-01 2000-01-01 2000-01-01
372244  2018.12.31    16:43  1.27582 2000-01-01 2000-01-01 2000-01-01
372245  2018.12.31    16:44  1.27562 2000-01-01 2000-01-01 2000-01-01
372246  2018.12.31    16:45  1.27558 2000-01-01 2000-01-01 2000-01-01
372247  2018.12.31    16:46  1.27553 2000-01-01 2000-01-01 2000-01-01
372248  2018.12.31    16:47  1.27561 2000-01-01 2000-01-01 2000-01-01
372249  2018.12.31    16:48  1.27542 2000-01-01 2000-01-01 2000-01-01
372250  2018.12.31    16:49  1.27525 2000-01-01 2000-01-01 2000-01-01
372251  2018.12.31    16:50  1.27521 2000-01-01 2000-01-01 2000-01-01
372252  2018.12.31    16:51  1.27483 2000-01-01 2000-01-01 2000-01-01
372253  2018.12.31    16:52  1.27483 2000-01-01 2000-01-01 2000-01-01
372254  2018.12.31    16:53  1.27456 2000-01-01 2000-01-01 2000-01-01
372255  2018.12.31    16:54  1.27460 2000-01-01 2000-01-01 2000-01-01
372256  2018.12.31    16:55  1.27456 2000-01-01 2000-01-01 2000-01-01
372257  2018.12.31    16:56  1.27450 2000-01-01 2000-01-01 2000-01-01
372258  2018.12.31    16:57  1.27474 2000-01-01 2000-01-01 2000-01-01
372259  2018.12.31    16:58  1.27469 2000-01-01 2000-01-01 2000-01-01

[372260 rows x 6 columns]

In [99]:
for index, row in df.iterrows():
    t = df["time_str"][index]
    d = df["date_str"][index]
    print(t, d)
    print(int(t[:2]))
    print(int(t[-2:]))
    p = pd.Timestamp(hour=int(t[:2]), minute=int(t[-2:]))
    print(p)
    df["time"][index] = p
df

('17:02', '2018.01.01')
17
2

TypeError: an integer is required

In [100]:
t = df["time_str"][0]
d = df["date_str"][0]
print(t, d)
print(int(t[:2]))
print(int(t[-2:]))
# p = pd.Timestamp(hour=int(t[:2]), minute=int(t[-2:]))
df["datetime"][0] = pd.Timestamp(int(d[:4]), int(d[5:7]), int(d[8:10]), int(t[:2]), int(t[-2:]))

# print(p)
# df["time"][0] = p

('17:02', '2018.01.01')
17
2

TypeError: an integer is required

In [ ]:
#     df["datetime"][index] = pd.Timestamp(int(d[:4]), int(d[5:7]), int(d[8:10]), int(t[:2]), int(t[-2:]))
#     df["date"][index] = pd.Timestamp(int(d[:4]), int(d[5:7]), int(d[8:10]))

## Questions to investigate

For each day's 10:30 - 11:02 timeframe (we ignore data from the rest of the day), we analyze minutely data and their relationship with the 10:30 and 10:45 prices

1.  Find the max pip movement above and below the 10:30 and 10:45 prices within the timeframe.
2.  Find if the timeframe was long/short relative to 1) the 10:30 price, and 2) the 10:45 price; we achieve this by comparing the 11:02 price with the 10:30 and 10:45 prices, respectively. 
3. The average for distance moved for and against 10:30 and 10:45 entries

### Q1 Algorithm
- For each day, isolate 10:30 - 11:02's data
- First, store 10:30 and 10:45's price. 
- Iterate through each minute to find pip movement. Update pip if larger movement is found.